@model IEnumerable<CovidTracker.Models.Association>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TimeBlockID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LatLongGroupID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TimeBlockID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LatLongGroupID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AssociationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AssociationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AssociationID })
        </td>
    </tr>
}

</table>
