@model CovidTracker.Models.AssociationDO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AssociationDO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TimeBlockID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeBlockID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LatLongGroupID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LatLongGroupID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssociationDOID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
